.wrapper {
    width: 90%;
    margin: 0 auto;
//    background-color: yellow;
}






/*========== Main Header ==========*/

.main-header {
    text-align: center;
    background: $brand-color-2;
    margin-bottom: 5em;
}

//h1{
//    padding: 120px 0; 
//}


/*==============================*/




/*========== Hero ==========*/


//.hero {
//    position: relative;
//    width: 100%;
//}
//
//img {
//    display: block;
//    width: 100%;
//}
//
//
//.hero img {
//    display: block;
//    width: 100%;
//}
//
//.hero-overlay {
//    position: absolute;
//
//    width: 100%;
//    height: 100%;
//
//    background: rgba(38,68,76,0.6);
//    z-index: 1;
//}
//
//.hero-caption {
//    position: absolute;
//    top:50%;
//
//    width: 100%;
//
//    text-align: center;
//    z-index: 2;
//}

/*==============================*/



/*========== Article ==========*/


//.grid-container {
//    display: grid;
//    grid-template-columns: 46.25% 46.25%;
//    grid-template-columns: 66% 33%;
//    grid-template-rows: repeat(6, auto);
//    grid-auto-flow: column;
//    /*grid-gap: 25px 2.5%;*/
//
//    margin: 8em 2.5%;
//    margin: 8em 0;
//    margin: 0;
//    width: 100%;
//
//    background-color: blue;


/*
    justify-items: start;
    justify-items: stretch;*/
//}

//.grid-item {
////    justify-self: end;
////    align-self: center;
//    border: 1px solid black;
////    position: relative;
//    background-color: red;
//    margin: 2em;
//}

//.grid-col-1 {
//    grid-column-start: 1;
//}
//
//.grid-col-2 {
//    grid-column-start: 2;
//}
//
//@media only screen and (max-width: 550px){
//
///*
//    .grid-col-1 {
//        grid-column-start: 1;
//    }
//
//    .grid-col-2 {
//        grid-column-start: 1;
//    }
//*/
//
//    .grid-container{
//        grid-template-columns: 100%;
//        grid-template-rows: repeat(12, auto);
//
//    }
//
//
//}

//.photo-double {
//    grid-row-end: span 2;
//}

//.grid-starter-col {
//    grid-row-start: 1;
//}


//.grid-item img {
//    display: block;
//    object-fit: cover;
//    width: 100%;
//    height: 100%;
//}
//
//.photo-overlay {
//    position: absolute;
//    
//    width: 50%;
//    height: 100%;
//
//    background: rgba(38,68,76,0.6);
//    z-index: 1;
//}
//
//.photo-caption {
//    position: absolute;
//    top:50%;
//
//    width: 100%;
//
//    text-align: center;
//    z-index: 2;
//}

/*==============================*/
//
//
//.form-control, .form-control label {
//    display: block;
//}
//
//.form-control input {
//        width: 100%;
//}
//
//.form-control textarea {
//    width: 100%;
//    resize: none;
//}

