$background: #fff;
$text: #4a4a4a;
$header-txt: #000;
$alt-text: #b2b5ba;
$hot-pink: #ff6a7c;
$peach: #fff0e9;
$turquoise: #41cadd;

$hero-small-text: #666a73;
$menu-bg: #202529;
//$contact-bg: #FFF0E9;
$form-outline: #DEE2E5;


$brand-color-1: $hot-pink;
$brand-color-2: $peach;
$brand-color-3: $turquoise;
