/** {
    border: 1px dashed black  !important;
    box-sizing: border-box  !important;
}*/



body {
    font-family: garamond-premier-pro-display, serif;
    font-size: 1.95vw;
    /*background-color: blue;*/
}

em {
    font-style: italic;
}


img {
    position: absolute;
    top: 0;
    left: 0;

    width: 792px;
    width: 100vw;

    z-index: -10;

    /*display: none;*/
}

.wrapper {
    /*width: 99.7%;*/
    /*min-width: 792px;*/
    /*height: 100%;*/

    /*margin: 0   auto;*/
    padding-top: 10.8vw;
    /*overflow: hidden;*/

    /*background-color: rgba(255,255,0,0.3);*/

}

figure {
    /*display: none;*/
}

.alphabets p{
    font-size: 1.6em;
    line-height: 0.6;
}

.alphabets p:nth-of-type(-n+2){
    font-weight: 600;
    text-transform: uppercase;
}

.alphabets p:nth-of-type(1) {
    margin-left: 7%;
    letter-spacing: 0.27em;
}

.alphabets p:nth-of-type(2) {
    margin-left: 21.4%;
    letter-spacing: 0.25em;
}

.alphabets p:nth-of-type(2) span {
    margin-left: 10%;
}

.alphabets p:nth-of-type(3) {
    margin-left: 37%;
    margin-top: -14%;
    font-size: 2.3em;
    line-height: 0.55;
    letter-spacing: 0.105em;
}

.big-f {
    position: relative;
    /*display: inline-block;*/
    top: 0.22em;

    margin-left: -4.5%;
    /*padding-top: 30%;*/
    font-size: 7em;
    font-style: italic;
    font-weight: 400;
    /*transform: scale(0.9,1);*/
    z-index: 11;
}

.big-f + span {
    margin-left: -2.5%;
}

header {
        position: relative; /* z-index not working?*/
    z-index: 10;
        margin-top: 2%;

    margin-bottom: 2%;
}

h1 {
    display: inline-block;
    width: 40vw;

    margin-left: -11%;

    /*background-color: rgba(255,255,0,0.5);*/

    font-size: 560%;
    line-height: 0.3;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h1 span {
    color: #FFF;
}

p {
    font-size: 66%;
    line-height: 1em;
    word-spacing: 0.15em;
    margin-bottom: 0.6em;
    hyphens: auto;
}

article p {
    text-indent: 1.1em;
}

.para-1 {

    padding-left: 60%;
    padding-top: 9.5%;
    margin-bottom: 1%;
    text-indent: 0em;
}

.para-3 {
    margin-top: 1%;
    margin-bottom: 7%;
}

.cutout + p::first-line {
    font-variant-caps: all-small-caps;
}



.shape-container {
    width: 137%;
    /*height: 80%;*/
    /*position: relative;*/
    /*left: -273px;*/
    margin-left: -37%;
    margin-top: -10%;
    /*background-color: rgba(255,0,0,0.3);*/
    /*overflow: hidden;*/
}

.anti-shape-container-shift {
    margin-left: 26.5%;
}

.intro {
    float: left;
    margin-top: -5.5%;
    margin-left: 51.7%;
    width: 14%;
    /*background-color: rgba(012,123,089,0.4);*/

    font-size: 0.86em;
    font-weight: 600;
    line-height: 1.1;
    hyphens: none;
    text-indent: 0em;
}

.intro::first-line {
    font-size: 1.2em;
    font-variant-caps: all-small-caps;
}

aside {
    float: left;
    /*position: relative;*/
    width: 7.8em;
    margin-left: 7.2%;
    margin-left: -44.5%;
    margin-top: -84.5%;

    /*background-color: rgba(0,0,255,0.4);*/

    font-size: 1.7em;
}

aside p {
    line-height: 1.05;

}

.aside-name {
    font-weight: 700;
}

.aside-date {
    display: block;

    margin-top: 22%;
    margin-left: -22%;

    font-size: 10em;

    /*background-color: rgb(255,255,0,0.4);*/
    /*position: relative;*/
    transform: rotate(90deg);
}

.aside-fullstop {
    display: none;
}


.numerals p{
    display: flex;
    flex-wrap: wrap;
}
.numerals {
    float: left;
    color: #009EC3;

    margin-top: -33%;
    margin-left: 6%;

    font-size: 13.5em;
    letter-spacing: 0.1em;
}

.num-group-1 {
    display: inline-block;
}

.nums-123 {
    order: 1;
    display: inline-block;

    width: 27%;

    /*background-color: rgba(255,0,0,0.5);*/
}

.nums-2 {
    position: relative;
    color: #fff;
    z-index: 10;
}

.nums-4 {
    order: 3;
    display: block;

    width: 6%;
    margin-top: 5.7%;
    margin-left: 21%;

    /*background-color: rgba(0,255,0,0.5);*/

    font-size: 0.7em;
}

/*.num-group-2 {
    display: inline-block;
    margin-left: 25vw;
        background-color: rgba(0,255,0,0.5);

}*/

.nums-5 {
    order: 4;

    margin-top: 3%;
    margin-left: 23%;


    color: #000;
    /*background-color: rgba(0,255,0,0.5);*/
    font-size: 2em;

}

.nums-67890 {
    order: 2;
    margin-left: 23.5%;
    width: 48%;
    letter-spacing: 0.12em;
        /*background-color: rgba(0,255,0,0.5);*/

}

.nums-9 {
    color: #000;
}

.big-i-container {
    /*display: flex;*/
    float: left;
    position: relative;
    height: 1vw;
    /*width: 100%;*/
    margin-top: -106vw;
    margin-left: 5vw;

    z-index: 9;

    /*background-color: rgba(255,255,50,0.5);*/
}

.big-i-box {
    width: 42vw;
    height: 91vw;

    margin-left: -5vw;
    /*background-color: rgba(0,255,255,0.2);*/
    overflow: hidden;
}

.big-i {
    /*display: inline-block;*/
    
    margin-top: -33vw;
    margin-left: 4vw;


    /*background-color: red;*/
    /*color: rgba(255,255,0,0.5);*/

    font-size: 164vw;
    font-weight: 400;
    font-style: italic;

    z-index: -1;
}


.big-o-new {

    float: left;
    width: 52em;
    height: 52em;

    clip-path: polygon(0.000% 51.000%, 0.300% 45.200%, 1.190% 39.620%, 2.370% 35.110%, 3.930% 30.800%, 5.350% 27.700%, 6.970% 24.730%, 8.180% 22.790%, 9.470% 20.920%, 10.840% 19.130%, 12.290% 17.410%, 13.300% 16.300%, 14.340% 15.230%, 17.750% 12.130%, 21.460% 9.360%, 22.900% 8.430%, 24.380% 7.550%, 26.420% 6.440%, 28.530% 5.420%, 31.260% 4.280%, 34.090% 3.290%, 36.480% 2.590%, 38.930% 2.000%, 41.620% 1.490%, 44.370% 1.120%, 47.470% 0.860%, 50.640% 0.770%, 53.560% 0.830%, 56.390% 1.020%, 59.430% 1.370%, 62.360% 1.870%, 64.280% 2.290%, 66.150% 2.770%, 68.450% 3.470%, 70.670% 4.260%, 73.510% 5.460%, 76.200% 6.810%, 78.140% 7.930%, 80.000% 9.130%, 82.260% 10.790%, 84.390% 12.570%, 86.320% 14.400%, 88.120% 16.340%, 90.290% 19.020%, 92.240% 21.850%, 93.440% 23.850%, 94.540% 25.910%, 95.450% 27.820%, 96.280% 29.770%, 97.280% 32.520%, 98.120% 35.330%, 98.980% 39.040%, 99.570% 42.820%, 99.870% 46.180%, 99.970% 49.560%, 99.870% 52.950%, 99.570% 56.260%, 99.070% 59.480%, 98.380% 62.620%, 97.770% 64.820%, 97.070% 66.970%, 96.060% 69.600%, 94.910% 72.150%, 93.570% 74.710%, 92.090% 77.160%, 90.420% 79.580%, 88.620% 81.880%, 86.600% 84.150%, 84.440% 86.280%, 82.650% 87.860%, 80.780% 89.350%, 78.210% 91.160%, 75.510% 92.800%, 72.990% 94.130%, 70.380% 95.310%, 67.890% 96.270%, 65.330% 97.100%, 62.790% 97.780%, 60.200% 98.330%, 57.550% 98.750%, 54.860% 99.040%, 52.750% 99.170%, 50.620% 99.210%, 45.850% 99.030%, 41.290% 98.510%, 37.620% 97.820%, 34.100% 96.910%, 31.530% 96.080%, 29.050% 95.130%, 25.970% 93.730%, 23.050% 92.150%, 20.610% 90.620%, 18.300% 88.960%, 15.440% 86.580%, 12.800% 84.000%, 10.500% 81.370%, 8.420% 78.590%, 7.000% 76.400%, 5.690% 74.110%, 4.720% 72.180%, 3.830% 70.210%, 2.460% 66.560%, 1.390% 62.800%, 0.350% 56.980%, 0.000% 51.000%);
    /*background-color: rgba(184,221,255,0.5);*/
    background-image: url("../images/big-o.svg");
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    /*background-position: bottom right;*/
    /*box-sizing: border-box;*/

    shape-outside: polygon(0.000% 51.000%, 0.300% 45.200%, 1.190% 39.620%, 2.370% 35.110%, 3.930% 30.800%, 5.350% 27.700%, 6.970% 24.730%, 8.180% 22.790%, 9.470% 20.920%, 10.840% 19.130%, 12.290% 17.410%, 13.300% 16.300%, 14.340% 15.230%, 17.750% 12.130%, 21.460% 9.360%, 22.900% 8.430%, 24.380% 7.550%, 26.420% 6.440%, 28.530% 5.420%, 31.260% 4.280%, 34.090% 3.290%, 36.480% 2.590%, 38.930% 2.000%, 41.620% 1.490%, 44.370% 1.120%, 47.470% 0.860%, 50.640% 0.770%, 53.560% 0.830%, 56.390% 1.020%, 59.430% 1.370%, 62.360% 1.870%, 64.280% 2.290%, 66.150% 2.770%, 68.450% 3.470%, 70.670% 4.260%, 73.510% 5.460%, 76.200% 6.810%, 78.140% 7.930%, 80.000% 9.130%, 82.260% 10.790%, 84.390% 12.570%, 86.320% 14.400%, 88.120% 16.340%, 90.290% 19.020%, 92.240% 21.850%, 93.440% 23.850%, 94.540% 25.910%, 95.450% 27.820%, 96.280% 29.770%, 97.280% 32.520%, 98.120% 35.330%, 98.980% 39.040%, 99.570% 42.820%, 99.870% 46.180%, 99.970% 49.560%, 99.870% 52.950%, 99.570% 56.260%, 99.070% 59.480%, 98.380% 62.620%, 97.770% 64.820%, 97.070% 66.970%, 96.060% 69.600%, 94.910% 72.150%, 93.570% 74.710%, 92.090% 77.160%, 90.420% 79.580%, 88.620% 81.880%, 86.600% 84.150%, 84.440% 86.280%, 82.650% 87.860%, 80.780% 89.350%, 78.210% 91.160%, 75.510% 92.800%, 72.990% 94.130%, 70.380% 95.310%, 67.890% 96.270%, 65.330% 97.100%, 62.790% 97.780%, 60.200% 98.330%, 57.550% 98.750%, 54.860% 99.040%, 52.750% 99.170%, 50.620% 99.210%, 45.850% 99.030%, 41.290% 98.510%, 37.620% 97.820%, 34.100% 96.910%, 31.530% 96.080%, 29.050% 95.130%, 25.970% 93.730%, 23.050% 92.150%, 20.610% 90.620%, 18.300% 88.960%, 15.440% 86.580%, 12.800% 84.000%, 10.500% 81.370%, 8.420% 78.590%, 7.000% 76.400%, 5.690% 74.110%, 4.720% 72.180%, 3.830% 70.210%, 2.460% 66.560%, 1.390% 62.800%, 0.350% 56.980%, 0.000% 51.000%);
    /*shape-margin: 0%;*/


    z-index: -1;
}



.cutout {
    float: right;
    width: 13.4em;
    height: 52em;

    /*margin-top: 100px;*/

    clip-path: polygon(100% 0%, 0% 0%, 0% 2%, 21% 6%, 43% 11%, 64% 21%, 83% 35%, 86% 50%, 82% 62%, 64% 78%, 43% 88%, 21% 94%, 0% 97%, 0% 100%, 100% 100%, 100% 0%);
    /*background-color: rgba(084,221,255,0.5);*/
    box-sizing: border-box;

    shape-outside: polygon(100% 0%, 0% 0%, 0% 2%, 21% 6%, 43% 11%, 64% 21%, 83% 35%, 86% 50%, 82% 62%, 64% 78%, 43% 88%, 21% 94%, 0% 97%, 0% 100%, 100% 100%, 100% 0%);
    shape-margin: 0%;
}
      